//=============================
//        Variables
//=============================


// Descriptive Colors

$white: #fff;
$viking: #58e1c1;
$boulder: #777;
$malibu:#51ddfc;
$sunglo: #e4757a;
$emerald: #63cc82;
$purple: #927bc1;
$coral: #fd7856;

// Breakpoints

$break-m: 768px;